body {
    /*color: red;*/
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    background-color: #ECFFFB;
}

div {
    margin: 20px;
}

table { 
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    font-size: 24px;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-color: black;
}

/*  Outlining the 3x3 grids */
td:first-child {
    border-left:solid;
    border-color: black;
}

td:nth-child(3n) {
    border-right:solid ;
    border-color: black;
}

tr:first-child {
    border-top:solid;
    border-color: black;
}

tr:nth-child(3n) td {
    border-bottom:solid;
    border-color: black;
}

button{
    font-size: 18px;
    height: 2em;
}

/*  Highlighting the grid the user is focused on.
    It may be useful to highlight the row and col in some way for the user. */
.editable:hover {
    background-color: #84D9D2;
}

.invalid {
    background-color: #FEB68E;
}

.invalid:hover {
    background-color: #F1924E;    
}

.non-editable {
    background-color: #CBCBCB;
    color: #555555;
}

.non-editable:hover {
    background-color: #efefef;
}

.success {
    background-color: #ADDAD3;
}
.success:hover {
    background-color: #84D9D2;
}

/*pretty and square*/
.valueButton {
    width: 2em;
}

#value {
    background-color: #ADDAD3;
}
